@charset "utf-8";
/* CSS Document */

/* base style guide settings begining */
body {
	background-color: #efebeb;
	padding: 10px;
}
.container {
	padding: 10px;
	background-color: #ffffff;
}
.element{
	padding-bottom: 10px;
}
.row{
	padding-bottom: 10px;
/*deal with this*/

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif
}

p{
	font-family: 'Open Sans', sans-serif;
}


/* base style guide settings end */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #bdb9b9; /* the dark grey*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:#000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color:#ff616f ;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar_icon{
	max-height: 40px;
	vertical-align: bottom;
	background-color: #ff1744;
 	border-radius: 15%;
}

.fixed-bottom{
	padding:10px;
}

/*Image center beginning*/
#founders_image{
	flex: auto;
	justify-content: center;
}
/*Image center end*/